body{
	
	font-size: 160%


}
#main{
	margin:.5em auto;
	border: .4em ;

}
.one{
font-size: 1em;
}
.two{
font-size: 1.5em;
}

.three{
font-size: 2em;
}
.mainbar{
text-align: center;
color: white;
width: 90%	
}
.button{
background: black;
width: 30.3%;
margin:0 1.5%;
float: right;
}
